// https://github.com/nuxt-community/vuetify-module#customvariables

$body-font-family: "Chakra Petch";
$font-size-root: 40px;
$btn-border-radius: 1px;
$btn-font-weight: 600;

@import "~vuetify/src/styles/styles.sass";
